In [1]:
root = "C:/Users/v-wangwilli/projects/nepas"
setwd(root)
.libPaths(file.path(root, "renv/library/windows/R-4.4/x86_64-w64-mingw32"))

library(jsonlite)
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.6
✔ forcats   1.0.1     ✔ stringr   1.6.0
✔ ggplot2   4.0.1     ✔ tibble    3.3.0
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.2.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter()  masks stats::filter()
✖ purrr::flatten() masks jsonlite::flatten()
✖ dplyr::lag()     masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [3]:
process_year = function(year, root = "data/") {
  # Read all pages for a given year and process them into a single tibble
  year_path = file.path(root, as.character(year))
  pages = list.files(year_path) |>
    map(\(page_set) fromJSON(file.path(year_path, page_set)) |> as_tibble() |> mutate(page_numbers = page_set)) |> 
    bind_rows() |> 
    mutate(
      year = year,
      # Clean numeric columns
      across(
        total_units:public_valuation,
        \(col) col |>
          str_replace_all(" ", "") |>
          str_replace_all("-|\\*", "0") |> # "*" for Phoenix in 1977
          na_if("(X)") |>
          na_if("(S)") |> 
          as.integer()
      ),
      outside_indicator = as.numeric(str_detect(smsa_name, "OUTSIDE")),
      inside_indicator = as.numeric(str_detect(smsa_name, "INSIDE"))
    )
  if (str_detect(year_path, "1970")) {
    pages = pages |> 
      mutate(
        smsa_group = cumsum(inside_indicator) |> lead(default = sum(inside_indicator))
      )
  } else {
    pages = pages |> 
      mutate(
        smsa_group = cumsum(outside_indicator) |> lag(default = 0)
      )
  }
  pages |> 
    mutate(
      .by = smsa_group,
      smsa_indicator = as.numeric(row_number() == 1),
      city_indicator = as.numeric(
        smsa_indicator == 0 & outside_indicator == 0 & inside_indicator == 0
      )
    ) |> 
    filter(.by = smsa_group, !any(str_detect(smsa_name, "TOTAL"))) |>
    relocate(line_number, page_numbers, year, smsa_group)
}

In [4]:
years = 1967:1979

bps_raw = map(
  years,
  \(year) process_year(year, root = "data/raw_ocr/")
) |> bind_rows()

bps = bps_raw |> 
  mutate(
    total_units_diff = total_units - rowSums(pick(private_total, public_units)),
    private_total_diff = private_total - rowSums(pick(private_1_unit:private_5plus_units)),
    total_valuation_diff = total_valuation - rowSums(pick(private_valuation, public_valuation)),
    private_valuation_diff = private_valuation - rowSums(pick(private_1_unit_val:private_5plus_units_val))
  )

Out of all the validation checks (4 per row), how many pass?

In [29]:
validations = bps |>
  pivot_longer(contains("diff"), names_to = "diff_type", values_to = "diff_value")

validations |>
  count(abs(diff_value)) |>
  mutate(prop = round(n / sum(n), 4))

   abs(diff_value) n     prop
1      0           42038 0.9139
2      1            3320 0.0722
3      2              51 0.0011
4      3               8 0.0002
5      4               7 0.0002
6      5               2 0.0000
7      6               1 0.0000
8      7               1 0.0000
9      8               1 0.0000
10     9               1 0.0000
11    10               5 0.0001
12    11               1 0.0000
13    14               1 0.0000
14    15               3 0.0001
15    16               1 0.0000
16    19               1 0.0000
17    20               3 0.0001
18    23               1 0.0000
19    24               2 0.0000
20    25               1 0.0000
21    27               1 0.0000
22    30               3 0.0001
23    31               1 0.0000
24    35               2 0.0000
25    36               2 0.0000
26    40               2 0.0000
27    50               1 0.0000
28    60               1 0.0000
29    61               1 0.0000
30    93               1 0.0000
31   100               2 0.0000
32   168               1 0.0000
33   169               1 0.0000
34   190               2 0.0000
35   200               1 0.0000
36   206               1 0.0000
37   242               1 0.0000
38   345               2 0.0000
39   374               1 0.0000
40   375               1 0.0000
41   402               1 0.0000
42   440               1 0.0000
43   491               2 0.0000
44   492               1 0.0000
45   493               1 0.0000
46   696               1 0.0000
47   899               1 0.0000
48   900               1 0.0000
49  1000               1 0.0000
50  1434               2 0.0000
51  1578               1 0.0000
52  2002               1 0.0000
53  2309               1 0.0000
54 10000               1 0.0000
55    NA             507 0.0110

In [36]:
validations |>
  filter(diff_value >= 1000)

  line_number page_numbers     year smsa_group smsa_name
1 39          pages_01_02.json 1974  10        ANAHEIM.
2 55          pages_25_26.json 1974 231        CHICOPEE
3 10          pages_15_16.json 1978 127        LANCASTER.
4 53          pages_23_24.json 1978 209        RICHLAND-KENNEWICK-PASCO, WASH.
5 26          pages_09_10.json 1979  81        INSIDE CENTRAL CITIES
6 28          pages_09_10.json 1979  81        MOORHEAD
  total_units private_total private_1_unit private_2_units private_3_4_units ⋯
1 1325        1325           872            52              50               ⋯
2  213         213            61             6               4               ⋯
3  173         173            18             4               0               ⋯
4 3259        3259          2150           162             203               ⋯
5  879         879           222           144              16               ⋯
6  317         317           107            70               4               ⋯
  private_2_units_val private_3_4_units_val private_5plus_units_val
1 1098                   0                   6224
2   80                 166                   1494
3   84                1165                      0
4 4034                4293                  10285
5 5317                 360                  13707
6 2774                 148                   2436
  public_valuation outside_indicator inside_indicator smsa_indicator
1 0                0                 0                0
2 0                0                 0                0
3 0                0                 0                0
4 0                0                 0                1
5 0                0                 1                0
6 0                0                 0                0
  city_indicator diff_type              diff_value
1 1              private_valuation_diff  1578
2 1              private_valuation_diff  1000
3 1              private_valuation_diff  2309
4 0              private_valuation_diff 10000
5 0              private_valuation_diff  1434
6 1              private_valuation_diff  1434

In [35]:
# Check NAs
validations |>
  filter(is.na(diff_value) & if_any(total_units:public_valuation, \(x) !is.na(x))) |>
  distinct(pick(line_number:year, total_units:public_valuation))

   line_number page_numbers     year total_units private_total private_1_unit
1  2           pages_13_14.json 1967 166         166           146
2  44          pages_17_18.json 1969  77          77            69
3  45          pages_17_18.json 1969  NA          NA            NA
4  33          pages_21_22.json 1975  NA          NA            NA
5  24          pages_23_24.json 1975  NA          NA            NA
6  20          pages_25_26.json 1976  NA          NA            NA
7  44          pages_01_02.json 1977  NA          NA            NA
8  35          pages_05_06.json 1977  NA          NA            NA
9  20          pages_13_14.json 1977  NA          NA            NA
10 43          pages_15_16.json 1977  NA          NA            NA
11 16          pages_27_28.json 1977  NA          NA            NA
12 16          pages_01_02.json 1978  NA          NA            NA
13 17          pages_01_02.json 1978  32          32            28
14 26          pages_03_04.json 1978  NA          NA            NA
15 35          pages_05_06.json 1978  NA          NA            NA
16 62          pages_07_08.json 1978  NA          NA            NA
17 28          pages_13_14.json 1978  NA          NA            NA
18 51          pages_15_16.json 1978  NA          NA            NA
19 39          pages_17_18.json 1978  NA          NA            NA
20 47          pages_17_18.json 1978  NA          NA            NA
21 30          pages_27_28.json 1978  NA          NA            NA
22 30          pages_03_04.json 1979  NA          NA            NA
23 31          pages_03_04.json 1979  77          77            77
24 32          pages_03_04.json 1979  NA          NA            NA
25 39          pages_03_04.json 1979  NA          NA            NA
26 18          pages_11_12.json 1979  NA          NA            NA
27 25          pages_11_12.json 1979  NA          NA            NA
28 34          pages_13_14.json 1979  NA          NA            NA
29 22          pages_21_22.json 1979  NA          NA            NA
30 35          pages_25_26.json 1979  NA          NA            NA
31 39          pages_27_28.json 1979  NA          NA            NA
32 19          pages_29_30.json 1979  NA          NA            NA
   private_2_units private_3_4_units private_5plus_units public_units
1   0               0                20                  NA
2   8               0                 0                  NA
3  NA              NA                NA                   0
4  NA              NA                NA                   0
5  NA              NA                NA                   0
6  NA              NA                NA                  NA
7  NA              NA                NA                   0
8  NA              NA                NA                   0
9  NA              NA                NA                   0
10 NA              NA                NA                   0
11 NA              NA                NA                   0
12 NA              NA                NA                   0
13  4               0                 0                   0
14 NA              NA                NA                   0
15 NA              NA                NA                   0
16 NA              NA                NA                   0
17 NA              NA                NA                   0
18 NA              NA                NA                   0
19 NA              NA                NA                   0
20 NA              NA                NA                   0
21 NA              NA                NA                   0
22 NA              NA                NA                   0
23  0               0                 0                   0
24 NA              NA                NA                   0
25 NA              NA                NA                   0
26 NA              NA                NA                   0
27 NA              NA                NA                   0
28 NA              NA                NA                   0
29 NA              NA                NA                   0
30 NA              NA                NA                   0
31 NA              NA                NA                   0
32 NA              NA                NA                   0
   private_structures total_valuation private_valuation private_1_unit_val
1  NA                   849             849               793
2  NA                  1658            1658              1548
3  12                    NA              NA                NA
4  NA                    NA              NA                NA
5  NA                    NA              NA                NA
6  NA                    NA              NA                NA
7  NA                    NA              NA                NA
8  NA                    NA              NA                NA
9  NA                    NA              NA                NA
10 NA                    NA              NA                NA
11 NA                    NA              NA                NA
12 NA                    NA              NA                NA
13  0                    NA              NA                NA
14 NA                    NA              NA                NA
15 NA                    NA              NA                NA
16 NA                    NA              NA                NA
17 NA                    NA              NA                NA
18 NA                    NA              NA                NA
19 NA                    NA              NA                NA
20 NA                    NA              NA                NA
21 NA                    NA              NA                NA
22 NA                  3862            3862                NA
23  0                    NA              NA                NA
24 NA                 21038           21038             19939
25 NA                    NA              NA                NA
26 NA                    NA              NA                NA
27 NA                    NA              NA                NA
28 NA                    NA              NA                NA
29 NA                    NA              NA                NA
30 NA                    NA              NA                NA
31 NA                    NA              NA                NA
32 NA                    NA              NA                NA
   private_2_units_val private_3_4_units_val private_5plus_units_val
1   NA                 NA                      57
2  110                  0                       0
3   NA                 NA                      NA
4   NA                 NA                      NA
5   NA                 NA                      NA
6   NA                 NA                       0
7   NA                 NA                      NA
8   NA                 NA                      NA
9   NA                 NA                      NA
10  NA                 NA                      NA
11  NA                 NA                      NA
12  NA                 NA                      NA
13  NA                 NA                       0
14  NA                 NA                      NA
15  NA                 NA                      NA
16  NA                 NA                      NA
17  NA                 NA                      NA
18  NA                 NA                      NA
19  NA                 NA                      NA
20  NA                 NA                      NA
21  NA                 NA                      NA
22  NA                 NA                      NA
23   0                  0                      NA
24  26                 NA                    1073
25  NA                 NA                      NA
26  NA                 NA                      NA
27  NA                 NA                      NA
28  NA                 NA                      NA
29  NA                 NA                      NA
30  NA                 NA                      NA
31  NA                 NA                      NA
32  NA                 NA                      NA
   public_valuation
1  NA
2  NA
3   0
4   0
5   0
6  NA
7   0
8   0
9   0
10  0
11  0
12  0
13  0
14  0
15  0
16  0
17  0
18  0
19  0
20 NA
21  0
22  0
23  0
24  0
25  0
26  0
27  0
28  0
29 NA
30  0
31  0
32  0

# Name matching

In [ ]:
bps = bps |>
  mutate(
    smsa_name_clean = smsa_name |>
      str_remove_all("[0-9]|\\.|\\*|#") |>
      str_replace_all(" *- *", "-") |>
      str_squish() # Remove whitespace from ends and turn multiple spaces into one
  )

bps_smsa = bps |>
  filter(smsa_indicator == 1)

smsa_names = bps_smsa |>
  summarize(.by = smsa_name_clean, smsa_name = str_c(unique(smsa_name), collapse = " | "), line_number = first(line_number), year = first(year), page_numbers = first(page_numbers)) |>
  arrange(smsa_name_clean)

# write_csv(smsa_names, "derived_data/summaries/smsa_names.csv")

In [19]:
smsa_name_mapping = read_csv("derived_data/mappings/smsa_name_mapping.csv")

Rows: 377 Columns: 2
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): smsa_name_clean, smsa_name_corrected

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [20]:
bps_corrected = bps_smsa |>
  left_join(smsa_name_mapping, join_by(smsa_name_clean)) |>
  summarize(
    .by = c(smsa_name_corrected, year),
    across(total_units:public_valuation, \(col) sum(col, na.rm = TRUE))
  ) |>
  separate_wider_delim(smsa_name_corrected, delim = ", ", names = c("central_city", "state"), cols_remove = FALSE)

In [ ]:
states = bps_corrected |>
  distinct(state) |>
  arrange(state)

write_csv(states, "derived_data/summaries/states.csv")

In [27]:
state_mapping = read_csv("derived_data/mappings/state_mapping.csv")
state_adoption = read_csv("derived_data/state_adoption.csv")

Rows: 81 Columns: 2
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): state, state_corrected

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 17 Columns: 2
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): state
dbl (1): adoption_year

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [44]:
bps_final = bps_corrected |>
  left_join(state_mapping, join_by(state)) |>
  separate_longer_delim(state_corrected, delim = "-") |>
  left_join(state_adoption, join_by(state_corrected == state)) |>
  summarize(
    .by = 1:public_valuation,
    adoption_year = adoption_year |> replace_na(Inf) |> min(na.rm = TRUE)
  ) |>
  mutate(
    event_year = year - adoption_year,
    treat = as.numeric(event_year >= 0)
  )

In [41]:
renv::install("fixest")

The following package(s) will be installed:
- dreamerr    [1.5.0]
- fixest      [0.13.2]
- Formula     [1.2-5]
- numDeriv    [2016.8-1.1]
- Rcpp        [1.1.0]
- sandwich    [3.1-1]
- stringmagic [1.2.0]
- zoo         [1.8-14]
These packages will be installed into "C:/Users/v-wangwilli/projects/nepas/renv/library/windows/R-4.4/x86_64-w64-mingw32".

# Installing packages --------------------------------------------------------
- Installing numDeriv ...                       OK [linked from cache]
- Installing zoo ...                            OK [linked from cache]
- Installing sandwich ...                       OK [linked from cache]
- Installing Rcpp ...                           OK [linked from cache]
- Installing Formula ...                        OK [linked from cache]
- Installing stringmagic ...                    OK [linked from cache]
- Installing dreamerr ...                       OK [linked from cache]
- Installing fixest ...                         OK [linked from cache]
Successfully installed 8 packages in 0.2 seconds.

In [91]:
library(fixest)

feols(
  log(private_total) ~ i(event_year, ref = -1) | smsa_name_corrected + year, cluster = "smsa_name_corrected",
  data = bps_final |> filter(is.finite(adoption_year))
) |> summary()

NOTE: 1/0 fixed-effect singleton was removed (1 observation).

The variable 'event_year::9' has been removed because of collinearity (see
$collin.var).

OLS estimation, Dep. Var.: log(private_total)
Observations: 1,421
Fixed-effects: smsa_name_corrected: 125,  year: 13
Standard-errors: Clustered (smsa_name_corrected)
                 Estimate Std. Error   t value   Pr(>|t|)
event_year::-24  1.721844   0.370410  4.648483 8.4194e-06 ***
event_year::-23  1.671641   0.342432  4.881678 3.1695e-06 ***
event_year::-22  1.776935   0.349657  5.081938 1.3385e-06 ***
event_year::-21  1.684380   0.347380  4.848816 3.6438e-06 ***
event_year::-20  1.606297   0.314471  5.107931 1.1950e-06 ***
event_year::-19  1.305752   0.308769  4.228897 4.5201e-05 ***
event_year::-18  1.215609   0.297474  4.086436 7.8093e-05 ***
event_year::-17  1.181067   0.264714  4.461668 1.8019e-05 ***
event_year::-16  1.032098   0.246514  4.186768 5.3203e-05 ***
event_year::-15  0.942168   0.248766  3.787365 2.3613e-04 ***
event_year::-14  0.877033   0.226318  3.875227 1.7161e-04 ***
event_year::-13  0.880018   0.201940  4.357815 2.7268e-05 ***
event_year::-12  0.872485   0.219997  3.965891 1.2282e-04 ***
event_year::-11  0.754302   0.189678  3.976750 1.1796e-04 ***
event_year::-10  0.887235   0.182008  4.874690 3.2650e-06 ***
event_year::-9   0.810725   0.173675  4.668047 7.7657e-06 ***
event_year::-8   0.895186   0.155810  5.745369 6.6936e-08 ***
event_year::-7   0.604868   0.173114  3.494048 6.6035e-04 ***
event_year::-6   0.668417   0.126104  5.300524 5.1042e-07 ***
event_year::-5   0.417482   0.094890  4.399645 2.3095e-05 ***
event_year::-4   0.310905   0.086440  3.596772 4.6367e-04 ***
event_year::-3   0.168266   0.066093  2.545886 1.2125e-02 *
event_year::-2   0.068808   0.046035  1.494672 1.3754e-01
event_year::0   -0.093392   0.039546 -2.361569 1.9756e-02 *
event_year::1   -0.171155   0.049732 -3.441574 7.8889e-04 ***
event_year::2   -0.165272   0.055231 -2.992395 3.3408e-03 **
event_year::3   -0.210929   0.061792 -3.413534 8.6687e-04 ***
event_year::4   -0.188702   0.061610 -3.062872 2.6893e-03 **
event_year::5   -0.116838   0.066008 -1.770066 7.9174e-02 .
event_year::6   -0.055631   0.070139 -0.793153 4.2920e-01
event_year::7   -0.008474   0.073070 -0.115973 9.0786e-01
event_year::8    0.063545   0.071734  0.885848 3.7741e-01
... 1 variable was removed because of collinearity (event_year::9)
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
RMSE: 0.320918     Adj. R2: 0.929002
                 Within R2: 0.140802

In [73]:
bps_final |>
  filter(is.finite(adoption_year)) |>
  nrow()

[1] 1422

In [35]:
bps_final |>
  distinct(smsa_name_corrected, adoption_year) |>
  count(is.finite(adoption_year))

  is.finite(adoption_year) n
1 FALSE                    167
2  TRUE                    126

## Manually cleaning 
- corrected obvious typographical errors or inconsistencies
- took largest geographical area when possible --> combined multiple rows in earlier files

To-do:
- fuzzy matching to make sure didn't miss inclusions
- state coding

In [44]:
bps |>
  filter(smsa_indicator == 1 & !str_detect(smsa_name, ","))

   line_number page_numbers     year smsa_group
1  48          pages_05_06.json 1968  49
2  56          pages_15_16.json 1968 133
3  22          pages_23_24.json 1971 186
4  52          pages_25_26.json 1971 210
5  25          pages_01_02.json 1972   7
6  62          pages_07_08.json 1972  73
7  27          pages_11_12.json 1972  99
8  42          pages_13_14.json 1972 121
9  66          pages_17_18.json 1972 163
10 40          pages_19_20.json 1972 173
11 50          pages_25_26.json 1972 231
12 4           pages_09_10.json 1973  74
13 32          pages_11_12.json 1973  99
14 50          pages_13_14.json 1973 122
15 14          pages_19_20.json 1973 166
16 46          pages_19_20.json 1973 175
17 53          pages_25_26.json 1973 232
18 53          pages_05_06.json 1974  50
19 7           pages_09_10.json 1974  75
20 35          pages_11_12.json 1974 100
21 55          pages_13_14.json 1974 123
22 22          pages_19_20.json 1974 167
23 54          pages_19_20.json 1974 176
24 62          pages_25_26.json 1974 233
25 58          pages_05_06.json 1975  51
26 18          pages_09_10.json 1975  77
27 52          pages_11_12.json 1975 104
28 7           pages_13_14.json 1975 111
29 7           pages_15_16.json 1975 128
30 57          pages_17_18.json 1975 160
⋮  ⋮           ⋮                ⋮    ⋮
36 7           pages_13_14.json 1976 111
37 7           pages_15_16.json 1976 128
38 57          pages_17_18.json 1976 160
39 13          pages_21_22.json 1976 182
40 37          pages_23_24.json 1976 205
41 28          pages_27_28.json 1976 240
42 61          pages_05_06.json 1977  52
43 21          pages_09_10.json 1977  78
44 58          pages_11_12.json 1977 106
45 13          pages_13_14.json 1977 113
46 18          pages_15_16.json 1977 132
47 25          pages_21_22.json 1977 187
48 39          pages_27_28.json 1977 245
49 61          pages_05_06.json 1978  52
50 21          pages_09_10.json 1978  78
51 61          pages_11_12.json 1978 105
52 21          pages_13_14.json 1978 113
53 26          pages_15_16.json 1978 132
54 36          pages_21_22.json 1978 187
55 53          pages_27_28.json 1978 246
56 10          pages_05_06.json 1979  40
57 61          pages_05_06.json 1979  53
58 25          pages_09_10.json 1979  81
59 64          pages_11_12.json 1979 109
60 27          pages_13_14.json 1979 118
61 37          pages_15_16.json 1979 138
62 16          pages_17_18.json 1979 149
63 21          pages_19_20.json 1979 170
64 44          pages_21_22.json 1979 193
65 62          pages_27_28.json 1979 252
   smsa_name                                  total_units private_total
1  DAVENPORT-ROCK ISLAND-MOLINE; IOWA-ILL.     2976        2976
2  NASHVILLE AND DAVIDSON COUNTY TENN.3        7586        7191
3  PROVIDENCE-WARWICK-PAWTUCKET-R.I.-MASS.     7360        7205
4  SAN FRANCISCO-OAKLAND CALIF.               38766       38766
5  ALLENTOWN-BETH.-EASTON PA.-N.J.             5823        5823
6  FARGO-MOOREHEAD ND-MN.                      1069        1069
7  HUNTINGTON-ASHLAND WV-KY-OH.                 666         666
8  LAWRENCE-HAVERHILL MA-NH                    2893        2893
9  NASSAU-SUFFOLK 2.                          16692       16692
10 PARKERSBURG-MARIETTA W.V. OHIO               849         849
11 STEUBENVILLE-WEIRTON OH-WV                   335         335
12 FARGO-MOORHEAD ND-MN                         859         859
13 HUNTINGTON-ASHLAND WV-KY-OH.                 548         548
14 LAWRENCE-HAVERHILL MA-NH                    1543        1543
15 NORFOLK-VIRGINIA BEACH-PORTSMOUTH VA.-N.C. 11840       11840
16 PARKERSBURG-MARIETTA WV-OH                   610         610
17 STEUBENVILLE-WEIRTON OH-WV                   372         372
18 CLARKSVILLE-HOPKINSVILLE TENN.-KY.           722         722
19 FARGO-MOORHEAD ND-MN                         846         846
20 HUNTINGTON-ASHLAND WV-KY-OH.                 366         366
21 LAWRENCE-HAVERHILL MA-NH                     686         686
22 NORFOLK-VIRGINIA BEACH-PORTSMOUT VA.-N.C..  4773        4773
23 PARKERSBURG-MARIETTA WV-OH                   209         209
24 STEUBENVILLE-WEIRTON OH-WV                   263         263
25 CLARKSVILLE-HOPKINSVILLE TENN.-KY.           548         548
26 FARGO-MOORHEAD ND-MN                        1608        1608
27 HUNTINGTON-ASHLAND WV-KY-OH.                 594         594
28 JOHNSON CITY-KINGSPORT-BRISTOL TENN.-VA.     928         928
29 LAWRENCE-HAVERHILL MA-NH                    1034         959
30 MUSKEGON-NORTON SHORES-                      639         639
⋮  ⋮                                          ⋮           ⋮
36 JOHNSON CITY-KINGSPORT-BRISTOL TENN.-VA.     974         974
37 LAWRENCE-HAVERHILL MA-NH                    1038        1038
38 MUSKEGON-NORTON SHORES-                     1163        1163
39 PARKERSBURG-MARIETTA WV-OH                   246         246
40 RIVERSIDE-SAN BERNARDINO-                  19789       19789
41 STEUBENVILLE-WEIRTON OH-WV                   432         432
42 CLARKSVILLE-HOPKINSVILLE TENN.-KY.           833         833
43 FARGO-MOORHEAD ND-MN                        2051        2001
44 HUNTINGTON-ASHLAND WV-KY-OH.                 994         994
45 JOHNSON CITY-KINGSPORT-BRISTOL TENN.-VA.    1323        1323
46 LAWRENCE-HAVERHILL MA-NH                    1707        1707
47 PARKERSBURG-MARIETTA WV-OH                   391         391
48 STEUBENVILLE-WEIRTON OH-WV                   367         367
49 CLARKSVILLE-HOPKINSVILLE TENN.-KY.           858         858
50 FARGO-MOORHEAD ND-MN                        2066        2066
51 HUNTINGTON-ASHLAND WV-KY-OH.                 808         808
52 JOHNSON CITY-KINGSPORT-BRISTOL TENN.-VA.    2031        2031
53 LAWRENCE-HAVERHILL MA-NH                    1977        1977
54 PARKERSBURG-MARIETTA WV-OH                   655         655
55 STEUBENVILLE-WEIRTON OH-WV                   557         557
56 BROWNSVILLE-HARLINGEN-                      1461        1461
57 CLARKSVILLE-HOPKINSVILLE                     752         752
58 FARGO-MOORHEAD ND-MN                        1123        1123
59 HUNTINGTON-ASHLAND WV-KY-OH.                 599         599
60 JOHNSON CITY-KINGSPORT-BRISTOL TENN.-VA.    1343        1343
61 LAWRENCE-HAVERHILL MA-NH                    1437        1392
62 LOUISVILLE KY.-IND.                         4231        4231
63 MUSKEGON-NORTON SHORES-MUSKEGON HEIGHTS.     674         674
64 PARKERSBURG-MARIETTA WV-OH . . . . .         256         256
65 STEUBENVILLE-WEIRTON OH-WV                   455         455
   private_1_unit private_2_units private_3_4_units ⋯ private_5plus_units_val
1   1867          164               51              ⋯   8717
2   2736          256               90              ⋯  26870
3   2685          236              130              ⋯  30164
4  16553          836             2042              ⋯ 267598
5   2843          188               74              ⋯  29897
6    403           64               42              ⋯   6529
7    362            8               15              ⋯   3059
8    895          114                4              ⋯  17458
9  12756          276               12              ⋯  40330
10   353           18               75              ⋯   3861
11   240           10                4              ⋯    824
12   545           26               39              ⋯   3237
13   381            0               20              ⋯   2965
14   988           46               51              ⋯   6512
15  4656          424              183              ⋯ 122124
16   248           14               58              ⋯   3252
17   222            8               33              ⋯   1289
18   360            8                6              ⋯   2661
19   466           36               56              ⋯   3247
20   346            2                0              ⋯    175
21   609           62                3              ⋯     96
22  2616          134               27              ⋯  38131
23   149           12               16              ⋯    333
24   220           12                3              ⋯    414
25   447            8               47              ⋯    576
26   661           70               95              ⋯  12271
27   360            2               23              ⋯   3421
28   812           16               72              ⋯    291
29   696           44              124              ⋯   1915
30   639            0                0              ⋯      0
⋮  ⋮              ⋮               ⋮                 ⋱ ⋮
36   893           18              18               ⋯   544
37   926           52               0               ⋯   315
38   662           36              24               ⋯  4745
39   189            6              39               ⋯    60
40 17170          404             683               ⋯ 29182
41   246           18              66               ⋯  1330
42   726           28              42               ⋯   458
43   797          136              48               ⋯ 18417
44   545           16              30               ⋯  7514
45  1128           26              55               ⋯  1392
46  1054           26              28               ⋯ 13582
47   199           24              32               ⋯  1564
48   227           14              16               ⋯  1629
49   791           18              27               ⋯   365
50   614          168              90               ⋯ 24538
51   488           16              41               ⋯  3622
52  1173           22              75               ⋯ 14405
53  1355           44               0               ⋯ 11007
54   180           24              36               ⋯  6106
55   235           24              27               ⋯  4679
56   987           22              19               ⋯  8429
57   611           22              18               ⋯  2229
58   388          162              16               ⋯ 15130
59   175           12               8               ⋯ 10896
60   964           38              29               ⋯  5341
61   886           36               0               ⋯ 10714
62  3127           40             104               ⋯ 17457
63   620           10              12               ⋯   680
64   144           16              39               ⋯   490
65   196           18               4               ⋯  5740
   public_valuation outside_indicator inside_indicator smsa_indicator
1     0             0                 0                1
2  4333             0                 0                1
3  2293             0                 0                1
4     0             0                 0                1
5     0             0                 0                1
6     0             0                 0                1
7     0             0                 0                1
8     0             0                 0                1
9     0             0                 0                1
10    0             0                 0                1
11    0             0                 0                1
12    0             0                 0                1
13    0             0                 0                1
14    0             0                 0                1
15    0             0                 0                1
16    0             0                 0                1
17    0             0                 0                1
18    0             0                 0                1
19    0             0                 0                1
20    0             0                 0                1
21    0             0                 0                1
22    0             0                 0                1
23    0             0                 0                1
24    0             0                 0                1
25    0             0                 0                1
26    0             0                 0                1
27    0             0                 0                1
28    0             0                 0                1
29 1195             0                 0                1
30    0             0                 0                1
⋮  ⋮                ⋮                 ⋮                ⋮
36    0             0                 0                1
37    0             0                 0                1
38    0             0                 0                1
39    0             0                 0                1
40    0             0                 0                1
41    0             0                 0                1
42    0             0                 0                1
43 2564             0                 0                1
44    0             0                 0                1
45    0             0                 0                1
46    0             0                 0                1
47    0             0                 0                1
48    0             0                 0                1
49    0             0                 0                1
50    0             0                 0                1
51    0             0                 0                1
52    0             0                 0                1
53    0             0                 0                1
54    0             0                 0                1
55    0             0                 0                1
56    0             0                 0                1
57    0             0                 0                1
58    0             0                 0                1
59    0             0                 0                1
60    0             0                 0                1
61  225             0                 0                1
62    0             0                 0                1
63    0             0                 0                1
64    0             0                 0                1
65    0             0                 0                1
   city_indicator total_units_diff private_total_diff total_valuation_diff
1  0              0                0                  0
2  0              0                0                  0
3  0              0                0                  0
4  0              0                0                  0
5  0              0                0                  0
6  0              0                0                  0
7  0              0                0                  0
8  0              0                0                  0
9  0              0                0                  0
10 0              0                0                  0
11 0              0                0                  0
12 0              0                0                  0
13 0              0                0                  0
14 0              0                0                  0
15 0              0                0                  0
16 0              0                0                  0
17 0              0                0                  0
18 0              0                0                  0
19 0              0                0                  0
20 0              0                0                  0
21 0              0                0                  0
22 0              0                0                  0
23 0              0                0                  0
24 0              0                0                  0
25 0              0                0                  0
26 0              0                0                  0
27 0              0                0                  0
28 0              0                0                  0
29 0              0                0                  0
30 0              0                0                  0
⋮  ⋮              ⋮                ⋮                  ⋮
36 0              0                0                  0
37 0              0                0                  0
38 0              0                0                  0
39 0              0                0                  0
40 0              0                0                  0
41 0              0                0                  0
42 0              0                0                  0
43 0              0                0                  0
44 0              0                0                  0
45 0              0                0                  0
46 0              0                0                  0
47 0              0                0                  0
48 0              0                0                  0
49 0              0                0                  0
50 0              0                0                  0
51 0              0                0                  0
52 0              0                0                  0
53 0              0                0                  0
54 0              0                0                  0
55 0              0                0                  0
56 0              0                0                  0
57 0              0                0                  0
58 0              0                0                  0
59 0              0                0                  0
60 0              0                0                  0
61 0              0                0                  0
62 0              0                0                  0
63 0              0                0                  0
64 0              0                0                  0
65 0              0                0                  0
   private_valuation_diff
1   0
2   1
3   0
4   0
5  -1
6   0
7   0
8   0
9   1
10  0
11  0
12  0
13  1
14 -1
15 -1
16  0
17  0
18 -1
19 -1
20 -1
21  0
22 -1
23  0
24  0
25 -1
26 -1
27  1
28  0
29  0
30  0
⋮  ⋮
36 -1
37  0
38  1
39  0
40  0
41  0
42  0
43 -1
44  0
45  0
46 -1
47  0
48 -1
49 -1
50  0
51 -1
52 -1
53 -1
54  1
55  0
56  0
57 -1
58 -1
59  1
60  0
61  0
62  0
63  0
64  0
65  0

In [ ]:
nrow()